In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [2]:
assets=['BTOW3.SA','^BVSP']

data=pd.DataFrame()
for i in assets:
    data[i]=wb.DataReader(i, data_source='yahoo', start='2012-1-1')['Adj Close']
    
data.tail()

             BTOW3.SA    ^BVSP
Date
2020-04-06  53.840000  74073.0
2020-04-07  57.500000  76358.0
2020-04-08  61.389999  78625.0
2020-04-09  57.730000  77682.0
2020-04-13  58.299999  78836.0

In [10]:
sec_returns=np.log(data/data.shift(1))

In [20]:
cov=sec_returns.cov()*252
cov

          BTOW3.SA     ^BVSP
BTOW3.SA  0.376095  0.072773
^BVSP     0.072773  0.067640

In [21]:
cov_with_market=cov.iloc[0,1]
cov_with_market

0.07277301358960338

In [24]:
market_var=sec_returns['^BVSP'].var()*252
market_var

0.06763973541932435

In [26]:
B2W_beta=cov_with_market/market_var
B2W_beta

1.0758914584519867